*.suo
RscWpShellV20/AudioPlaybackAgent/Bin/
RscWpShellV20/AudioPlaybackAgent/obj/
RscWpShellV20/Launcher_Agent/Bin/
RscWpShellV20/Launcher_Agent/obj/
RscWpShellV20/Launcher_App/Bin/
RscWpShellV20/Launcher_App/obj/
RscWpShellV20/Launcher_AppMini/Bin/
RscWpShellV20/Launcher_AppMini/obj/
RscWpShellV20/Launcher_Lib/Bin/
RscWpShellV20/Launcher_Lib/obj/
RscWpShellV20/Lib_OsGrade/Bin/
RscWpShellV20/Lib_OsGrade/obj/
RscWpShellV20/Lib_Rsc/Bin/
RscWpShellV20/Lib_Rsc/obj/
RscWpShellV20/Lib_RscEx/Bin/
RscWpShellV20/Lib_RscEx/obj/
RscWpShellV20/Lib_RscExtensions/Bin/
RscWpShellV20/Lib_RscExtensions/obj/
RscWpShellV20/Lib_RscFormats/Bin/
RscWpShellV20/Lib_RscFormats/obj/
RscWpShellV20/Lib_RscFrmWrk/Bin/
RscWpShellV20/Lib_RscFrmWrk/obj/
RscWpShellV20/Lib_RscFtp/Bin/
RscWpShellV20/Lib_RscFtp/obj/
RscWpShellV20/Lib_RscIPgC/Bin/
RscWpShellV20/Lib_RscIPgC/obj/
RscWpShellV20/Lib_RscIPgC_Dlgs/Bin/
RscWpShellV20/Lib_RscIPgC_Dlgs/obj/
RscWpShellV20/Lib_RscSettings/Bin/
RscWpShellV20/Lib_RscSettings/obj/
RscWpShellV20/Lib_RscStore/Bin/
RscWpShellV20/Lib_RscStore/obj/
RscWpShellV20/Lib_RscViewers/Bin/
RscWpShellV20/Lib_RscViewers/obj/
RscWpShellV20/RscDC/Bin/
RscWpShellV20/RscDC/obj/
RscWpShellV20/RscFtpClients/Bin/
RscWpShellV20/RscFtpClients/obj/
RscWpShellV20/RscIeV10/Bin/
RscWpShellV20/RscIeV10/obj/
RscWpShellV20/RscLearnXamlV10/Bin/
RscWpShellV20/RscLearnXamlV10/obj/
RscWpShellV20/RscXobsolotes/Bin/
RscWpShellV20/RscXobsolotes/obj/
RscWpShellV20/RscXtests/Bin/
RscWpShellV20/RscXtests/obj/
packages/RestSharp.105.2.3/
